.divNav{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}
.lista{
    display: flex;
}

.lista> li{
    list-style: none;
    padding: 0 1rem;
}

.lista > li > a{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}
.menu{
    display: none;
}

@media(max-width : 1040px) {
    .lista {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 100%;
        z-index: -3;
        transition-duration: 0.5s;
    }

    .active{
        left: 0;
    }    
    .lista > li {
        padding: 1rem 0;
    }

    .lista > li > a{
        font-size: 2rem;
    }
    .menu{
        display: initial;
    }
}




